# Twitter Sentiment Analysis

General climate change sentiment of tweets in english

**Importing libraries**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import nltk
from nltk import word_tokenize, sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import LancasterStemmer, WordNetLemmatizer, PorterStemmer
from wordcloud import WordCloud, STOPWORDS
from textblob import TextBlob

**Importing data**

In [2]:
df = pd.read_csv('df_secondscrap_hashtags.csv', index_col=0)

In [3]:
df.head(3)

,id,date,content,coordinates,place,user
0,1393835446237552640,2021-05-16 07:47:21+00:00,2/2 it also runs on brand new tech called POA ...,NaN,NaN,"{'username': 'jasric89', 'displayname': 'Jason..."
1,1393835391271251971,2021-05-16 07:47:08+00:00,The food we eat is important. The people who m...,NaN,NaN,"{'username': 'TatendaMurigo', 'displayname': '..."
2,1393835307733327880,2021-05-16 07:46:48+00:00,To make #Trash and #Wastefree #Pakistan i have...,NaN,NaN,"{'username': 'JunaidAjmal023', 'displayname': ..."

In [4]:
df.dtypes

id              int64
date           object
content        object
coordinates    object
place          object
user           object
dtype: object

In [5]:
#Turning all the content into lowercase
df['content'] = df['content'].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [6]:
df['content'][0]

'2/2 it also runs on brand new tech called poa proof of authority that uses was less energy than any other #crypto project out there because each node doesn’t have to check each other. https://t.co/0pz6hkjy5v #environment #greenenergy #mining #bitcoin @elonmusk'

In [7]:
#Dealing with special characters
stop = stopwords.words('english')
df['content'] = df['content'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))

In [8]:
df['content'][0]

'2/2 also runs brand new tech called poa proof authority uses less energy #crypto project node doesn’t check other. https://t.co/0pz6hkjy5v #environment #greenenergy #mining #bitcoin @elonmusk'

In [9]:
st = PorterStemmer()
df['content'] = df['content'].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))
df['content'][0]

'2/2 also run brand new tech call poa proof author use less energi #crypto project node doesn’t check other. https://t.co/0pz6hkjy5v #environ #greenenergi #mine #bitcoin @elonmusk'

In [10]:
#calculating sentiment score for this dataset

def sentiment(x):
    return TextBlob(x).sentiment

df['sentiment_score'] = df['content'].apply(sentiment)

In [12]:
df = pd.concat([df, pd.DataFrame(df['sentiment_score'].to_list(), columns=['polarity', 'subjectivity'])], axis=1)

In [15]:
df.drop('sentiment_score', axis=1, inplace=True)

In [16]:
df

,id,date,content,coordinates,place,user,polarity,subjectivity
0,1393835446237552640,2021-05-16 07:47:21+00:00,2/2 also run brand new tech call poa proof aut...,NaN,NaN,"{'username': 'jasric89', 'displayname': 'Jason...",-0.051768,0.298737
1,1393835391271251971,2021-05-16 07:47:08+00:00,food eat important. peopl make food important....,NaN,NaN,"{'username': 'TatendaMurigo', 'displayname': '...",0.266667,0.708333
2,1393835307733327880,2021-05-16 07:46:48+00:00,make #trash #wastefre #pakistan purpos idea cr...,NaN,NaN,"{'username': 'JunaidAjmal023', 'displayname': ...",0.355556,0.533333
3,1393835290700259335,2021-05-16 07:46:44+00:00,research enabl us address press issu global co...,NaN,NaN,"{'username': 'TatendaMurigo', 'displayname': '...",0.000000,0.000000
4,1393835274694709248,2021-05-16 07:46:40+00:00,hold #borisjohnson account lack lustr baffl op...,NaN,NaN,"{'username': 'consofpolitics', 'displayname': ...",-0.500000,0.300000
...,...,...,...,...,...,...,...,...
9036,1392950043699601409,2021-05-13 21:09:04+00:00,https://t.co/kcfjtdqubo #environ #tesla #elonm...,NaN,NaN,"{'username': 'BitcoinInfoVIP1', 'displayname':...",0.000000,0.000000
9037,1392950037244784647,2021-05-13 21:09:03+00:00,"reviv ancient dates, negev pioneer plant seed ...",NaN,NaN,"{'username': 'Israelwithlove', 'displayname': ...",0.000000,0.000000
9038,1392949977563938816,2021-05-13 21:08:49+00:00,build new home asset fight #climatechange—espe...,NaN,NaN,"{'username': 'lisahiserodt', 'displayname': 'L...",0.168182,0.377273
9039,1392949971184283648,2021-05-13 21:08:47+00:00,touch much titl implies. decolon lithium boom ...,NaN,NaN,"{'username': 'bluwndzdancing', 'displayname': ...",0.200000,0.200000
9040,1392949819287691265,2021-05-13 21:08:11+00:00,tweet it... climat denier demonstr you... proo...,NaN,NaN,"{'username': 'GeraldKutney', 'displayname': '@...",0.000000,0.000000

9040    tweet it... climat denier demonstr you... proo...
Name: content, dtype: object